.title-vertical-inline {
    padding-top: 5px;
    text-align: right;
    font-weight: 700 !important;
    font-size: 15px !important;
    color: #565656 !important;
}

.formControl-inline {
    & .MuiFormControl-marginNormal {
        margin-top: 0;
        margin-bottom: 0;
    };
    min-height: 40;
    width: 15%,
};
.selectField-inline {
    display: flex;
    height: 40px;
    text-align: center; 
    justify-items: center;
    border-radius: 7px;
    border-color: #BFBFBF;
    & .MuiSelect-select:focus {
        background-color: white;
    }
}
