
.search-inline {
    display: flex;
    height: 35px !important;
    width: 100%;
    align-items: center;
    font-size: 14; 
    font-weight: 400;
    border-width: 0;
    border-color: #cccccc; 
    border-style: solid; 
    border-radius: 5px;
    &:focus {
        border-color: #75A7FB;
    };
    &:hover {
        border-color: #75A7FB;
    };
};

.container-inline {
    width: 100%;
    height:35;
    background-color: white;
    border-radius: 5;
    border-width: 0;
}
.title-input-inline {
    padding-top: 15px;
    text-align: right;
    font-weight: 700 !important;
    font-size: 15px !important;
    color: #565656;
}