.button-add-role {
    text-transform: none !important;
    margin-top: 10px !important;
}
.table-title-permission {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700 !important;
    color: #4F4F4F !important;
    background: #D7D7D7;
}
.roleFocus {
    background-color: #CCDDFF;
}
.cardListTest {
    font-family: 'Quicksand';
    width: 100%;
    height: auto;
    background: rgb(255, 255, 255);
    padding: 0 50px;
}
.cardHeader {
    height: 70px;
    width: 100%;
    text-align: left;
    color: rgba(22, 30, 84, 1);
}
.title {
    font-family: 'Quicksand', sans-serif;
    padding-top: 20px;
    font-weight: bold;
    font-size: 18px;
}

.title-table-function {
    text-align: left;
    color: #363636 !important;
    font-weight: 700 !important;
    padding-bottom: 10px;
}

