.status-staff-official {
    height: 25px;
    width: 100px;
    text-align: center;
    background: #36CA68;
    border-radius: 23px;
    color: #fff;
    margin: auto;
}
.status-staff-official-no-margin {
    height: 25px;
    width: 100px;
    text-align: center;
    background: #36CA68;
    border-radius: 23px;
    color: #fff;
}
.status-staff-probation {
    height: 25px;
    width: 100px;
    text-align: center;
    background: #47B7FF;
    border-radius: 23px;
    color: #fff;
    margin: auto;
}
.status-staff-apprentice {
    height: 25px;
    width: 100px;
    text-align: center;
    background: #FFAA01;
    border-radius: 23px;
    color: #fff;
    margin: auto;
}
.status-staff-apprentice-no-margin {
    height: 25px;
    width: 100px;
    text-align: center;
    background: #FFAA01;
    border-radius: 23px;
    color: #fff;
}
.status-staff-candidate {
    height: 25px;
    width: 100px;
    text-align: center;
    background: #3936CA;
    border-radius: 23px;
    color: #fff;
    margin: auto;
}
.status-staff-candidate-no-margin {
    height: 25px;
    width: 100px;
    text-align: center;
    background: #3936CA;
    border-radius: 23px;
    color: #fff;
    margin: auto;
}
.status-staff-escaped{
    height: 25px;
    width: 100px;
    text-align: center;
    background: #da4848;
    border-radius: 23px;
    color: #fff;
    margin: auto;
}
.status-staff-escaped-no-margin{
    height: 25px;
    width: 100px;
    text-align: center;
    background: #da4848;
    border-radius: 23px;
    color: #fff;
}
.status-quiz-expired {
    height: 25px;
    width: 100px;
    text-align: center;
    background: #B2B2B2;
    border-radius: 23px;
    color: #fff;
    margin: auto;
}
.title-dialog-add {
    font-family: 'Quicksand';
    color: #121843;
    font-weight: 700;
    font-size: 20px;
}
.css-1ygcj2i-MuiTableCell-root {
    font-family: 'Quicksand' !important;
    color: #646464 !important;
}
.css-1ndpvdd-MuiTableCell-root{
    font-family: 'Quicksand' !important;
    color: #646464 !important;
}