.title-vertical {
    padding-bottom:10px;
    font-size: 13px !important;
}

.formControl {
    & .MuiFormControl-marginNormal {
        margin-top: 0;
        margin-bottom: 0;
    };
    min-height: 40;
    width: 15%,
};
.selectField {
    display: flex;
    height: 40px;
    text-align: center; 
    justify-items: center;
    border-radius: 7px;
    border-color: #BFBFBF;
    & .MuiSelect-select:focus {
        background-color: white;
    }
}
